.menu{
display: flex;
justify-content: space-between;
background-color: #000000; 
font-size: 20px;
font-family: sans-serif; 
font-weight: 400;
color: #ffffff;
}
body{
    margin: 0px;
    background-color: #f7f2f2;
}
.bodyimg{
font-family:"Papyrus", Fantasy;
}
.origami{
border-radius: 20px; 
background-color: #ffffff;
padding: 30px;
margin: 25px;
width:310px;
font-family: fantasy;
}
.grid img{
border: 2px solid #000000; 
border-radius: 50px;
}
a:link{
    color: rgb(255, 255, 255);
}
a:visited{
    color: rgba(230, 252, 250, 0.877);
}
.origami:hover{
    transform: scale(1.2);
}